body {
  background-color: lightgray;
  font-family: "Montserrat", sans-serif;
}

.mainWindow {
  margin: 20px auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
}

.pizzaMenu {
  border-top-left-radius: 25px;
  border-style: solid;
  max-width: 800px;
  min-width: 600px;
  background-color: white;
}

h2 {
  text-align: center;
  color: rgb(196, 101, 101);
  margin: 12px 0px;
}
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 9px 9px 20px 16px rgba(168, 168, 168, 0.31);
}
thead tr {
  border-top-right-radius: 25px;
  background-color: seagreen;
  color: white;
}
thead th {
  border-width: 0px;
  border: none;
  padding: 5px;
}

#thName,
#thHeat,
#thPrice {
  cursor: pointer;
}

tbody tr {
  border-bottom-style: solid;
}
tbody td {
  max-width: 200px;
  word-wrap: break-word;
  padding-left: 5px;
  font-size: 15px;
  padding: 10px;
}

tbody button {
  background-color: rgb(196, 101, 101);
  font-weight: bold;
  color: aliceblue;
  padding: 5px;
  border-radius: 10px;
}
tbody button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px 3px rgba(168, 168, 168, 0.31);
}

.addNew {
  height: 600px;
  max-width: 300px;
  background-color: white;
  border-top-right-radius: 25px;
  border-style: solid;
  align-items: center;
}

.addNew form {
  margin: 0px auto;
}

form label {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
}

#error p {
  margin: 0;
  color: rgb(196, 101, 101);
  font-size: 15px;
  font-weight: bold;
}
.formContainer {
  margin: 0px 20px;
}
.submitButton {
  text-align: right;
  margin: 15px 0px;
}
.submitButton input {
  background-color: seagreen;
  font-weight: bold;
  color: aliceblue;
  padding: 5px;
  border-radius: 10px;
}

.submitButton input:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px 3px rgba(168, 168, 168, 0.31);
}
.submitButton input:disabled {
  cursor: initial;
  opacity: 0.3;
  box-shadow: none;
}

.preview {
  margin: auto;
  width: fit-content;
  align-items: center;
}
